# Data Understanding

In [2]:
from pyspark.sql import SparkSession, functions as F

import findspark

findspark.init("C:\Program Files\Spark\spark-3.3.1-bin-hadoop3")

In [3]:
spark = (SparkSession.builder
            .appName("Data Understanding")
            .master("local[2]")
            .config("spark.sql.adaptive", True)
            .getOrCreate())

In [4]:
iot_schema = "row_id int, " \
    "ts double, " \
    "device string, " \
    "co float, " \
    "humidity float, " \
    "light boolean, " \
    "lpg float, " \
    "motion boolean, " \
    "smoke float, " \
    "temp float, " \
    "time timestamp"

In [5]:
path = "file:///Users/talha/OneDrive/Masaüstü/Talha Nebi Kumru/Data Enginnering/Miuul/RealTimeDPWithSpark/Windowed_Aggregation_Spark_Streaming/datasets/output"

df = (spark.read
         .format("csv")
         .schema(iot_schema)
         .option("header", True)
         .load(path))

In [6]:
df.limit(5).toPandas()

C:\Users\talha\anaconda3\lib\site-packages\pyspark\sql\pandas\conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

   row_id            ts  ...       temp                       time
0    1671  1.594515e+09  ...  19.799999 2023-02-15 22:51:54.981056
1    1672  1.594515e+09  ...  26.900000 2023-02-15 22:51:55.492817
2    1673  1.594515e+09  ...  22.600000 2023-02-15 22:51:56.005189
3    1674  1.594515e+09  ...  19.700001 2023-02-15 22:51:56.520375
4    1675  1.594515e+09  ...  22.600000 2023-02-15 22:51:57.034116

[5 rows x 11 columns]

In [7]:
windowed_file = df.groupBy(F.window(F.col("time"), "10 minutes", "5 minutes"),
                             F.col("device")).agg(
                                     F.count("device").alias("Count"),
                                     F.avg("humidity").alias("ten_min_avg(humidity)"),
                                     F.avg("co").alias("ten_min_avg(humidity)"))

In [8]:
windowed_file.limit(5).toPandas()

                                       window  ... ten_min_avg(humidity)
0  (2023-02-15 23:15:00, 2023-02-15 23:25:00)  ...              0.004196
1  (2023-02-15 23:00:00, 2023-02-15 23:10:00)  ...              0.004131
2  (2023-02-15 23:10:00, 2023-02-15 23:20:00)  ...              0.004155
3  (2023-02-15 23:05:00, 2023-02-15 23:15:00)  ...              0.002366
4  (2023-02-15 23:00:00, 2023-02-15 23:10:00)  ...              0.002386

[5 rows x 5 columns]